body {
  @include font-smoothing(on);
  // @include font-family();
  // line-height: ;
}

button,
select,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
